* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

/* section > div {
    max-width: 100%;
    min-width: 0px;
}
 */
.welcome-tag {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    line-height: 200%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
    padding: .75rem;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
}

.welcome-tag > div {
    text-transform: uppercase;
    /* text-shadow: 1px 1px 20px 20px green; */
    color: var(--white);
    font-size: 3rem;
    font-family: 'Bebas Neue', cursive;
    font-weight: 1100;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.623);
    -webkit-text-stroke-width: .5px;
    
}

.welcome-tag span {
    color: orange;
}

.welcome-tag > p {
    font-family: Kanit;
    margin-top: 1rem;
}