/* Slideshow */
.homepage {
    
   /*  background-image: url(/images/proffeee.png);
    background-size: 100vw 100vh;
    background-position: cover; */
    position: relative;
    /* overflow: hidden; */
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slideshow__imageContainter {
    display: flex;
    height: 100%;
    width: 400vw;
    position: absolute;
    z-index: -1;
    background-color: black;
}

.slideshow__image {
    width: 25%;
    height: 100%;
    opacity: 0.9;
}




/* Navigation */
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    border: 1px solid var(--white);
    background: rgba(0, 0, 0, 0.15);
    color: var(--white);
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
}

.nav-sections {
    display: flex;
    width: 45%;
    justify-content: space-between;
    font-size: 1.7rem;
    
}

.nav-sections div:hover {
    color: orange;
}

.nav-sections:not(:first-child){
    padding-left: 1rem;
}

.logo {
    font-size: 2rem;
}

.logo > span {
    color: orange;
}

.fa-cart-plus {
    font-size: 1.75rem;
}

.icon-div {
    background: rgba(0, 0, 1, 0.15);
    position: relative;
    padding: .75rem;
    border-radius: 50%;
    border: 2px solid orange;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.637);
}

.emblem {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .75rem;
    position: absolute;
    color: rgb(92, 92, 92);
    right: 0px;
    top: 0px;
    background-color: var(--white);
    width: 1rem;
    height: 1rem;
    border: 1.5px solid orange;
    border-radius: 50%;
    transform: translate(3px, -3px);
}

/*Guides*/
.guides-section {
    display: block;
    height: 100%;
    background-color: rgb(44, 43, 43);
    padding: 1rem 30% 1rem 30%;
}

.guide-container {
    display: flex;
    margin: 0px;
    justify-content: space-between;
    align-items: center;
    font-family: Kanit;
    color: var(--white);
}



.guide-circle {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    border: 2px solid white;
}


/* .circle {
    background: rgba(0, 0, 1, 0.15);
    padding: .75rem;
    border-radius: 50%;
    border: 2px solid orange;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.637);
} */

footer {
    display:flex;
    width:100%;
    background-color: black;
    padding:1rem 0 1rem 0;
    align-items: center;
    justify-content:center;

}

.loc-section {
    background-color: var(--white);
    padding: .5rem 0 4rem 0;
}

.our-locations-div {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Kanit', cursive;
    color: var(--light-gray);
    
}
.our-locations-div h1 {
    padding: 0px 1rem;
    text-align:center;
    white-space: nowrap;
}

.flex-r {
    width: 100%;
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.our-locations-div p {
    font-size: .75rem;
}

.line{
    height: 1px;
    background-color: var(--light-gray);;
    width:100%;
}


/* .loc-section:nth-child(2) {
    align-items: center;
} */

.card-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    max-width: 85vw;
    border: 5px solid yellow;
    justify-content: center;
}

.loc-card {
    margin: 1rem;
    height: 24rem;
    width: 17.5rem;
    overflow: hidden;
    border: 1px solid red;
}

.card__image {
    max-width: 100%;
    /* height: 100%; */
    object-fit: cover;
}

.loc-card__image-container {
    height: 45%;
    overflow: hidden;
    position: relative;
}


